.add-credit-debit-form  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-credit-debit-form>div  {
    width: 47%;
}

@media screen and (max-width:700px) {    
    .add-credit-debit-form>div  {
        width: 100%;
    }
}

.add-credit-debit-form input {
    border: none;
    border-bottom: 1px solid #3b90c7;
    width: 100%;
    z-index: 10;
}

.add-credit-debit-form .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}
.add-credit-debit-form .input label {
    color: #3b90c7;
    font-size: smaller;
    display: block;    
    order: -1;
    margin-bottom: 2px;
}

.add-credit-debit-form .input label.hidden {
    transform: translateY(20px);
    visibility: hidden;
    transition-duration: 500ms;
}

.add-credit-debit-form .input input:focus::placeholder {
    visibility: hidden;
}
.add-credit-debit-form .input input:focus + label.hidden{
    transform: translateY(0px);
    visibility: visible;
}

.add-credit-debit-form .input .error {
    color: darkred;
    font-size: small;
}

