.App {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.toolbar {
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
}
.toolbar > * {
  margin-top: 10px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.toolbar:first-child {
  margin-left: 0px;
}
.toolbar:last-child {
  margin-right: 0px;
}

.app-content {
  flex: 1;
  overflow-y: hidden;
}

.header-footer-background {
  background: linear-gradient(to right, #191b32, #0e5882 40%);
}
.app-footer {
  min-height: 20px;
  display: flex;
}
.app-footer>* {
  margin-left: 10px;
}

.app-header {
    height: 80px;
    min-height: 80px;
    transition-duration: 500ms;
}

.app-header .header-content {
  float: right;
  position: relative;
}

.app-header h1 {
  color: white;
  display: inline;
}
.app-header>div {  
  margin: 1em;
}
.account-info,
.app-content {
  width: 850px;
  margin: 5px auto;
}
.account-info { margin-top: 5px; }
.app-content { margin-bottom: 5px; }

@media screen and (max-width: 850px) {
  .account-info,
  .app-content {
    width: initial;
    margin: initial;
  }
}
@media screen and (max-width:600px) {
  .app-header {
    height: 2em;
    min-height: 2em;
  } 
  .app-header h1{
    font-size: small;
  } 
  .app-header>div {  
    margin: 0.2em;
  }
  
}
