.account-info-display-conatiner {
    display: flex;
    flex-wrap: wrap;
}
.account-info-display-conatiner>div {
    width: 50%;
}
.account-info-display-conatiner>div>span {
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .account-info-display-conatiner>div {
        width: 100%;
    }   
}