button.action-icon-button {
  padding: 0px;
  display: inline-block;
  margin: 3px;
  cursor: default;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #f4f4f4;
  transition: 500ms;
  transition-delay: 50ms;
  border-color: #f4f4f4;
  border-style: solid;
  border-width: 1px;
}

button.action-icon-button:focus {
  outline-style: none;
}

button.action-icon-button:hover {
  color: #006beb;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
}

button.action-icon-button:focus {
  border-color: #65afde;
  border-style: solid;
  border-width: 0.5px;
}

button.action-icon-button i {
  position: relative;
  line-height: 30px;
}

.list-toolbar button.action-button {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

button.action-button {
  padding: 5px 10px 5px 10px;
  cursor: default;
  display: flex;
  font-family: "Nunito", sans-serif;
  font-size: 12pt;
  font-weight: 700;
  line-height: 27px;
  color: #006beb;
  text-align: center;
  border-radius: 25px;
  background-color: #e1eaf1;
  transition: 500ms;
  transition-delay: 50ms;
  border-color: #e1eaf1;
  border-style: solid;
  border-width: 1px;
}

button.action-button:disabled, 
button.action-button:disabled:hover {
  background-color: lightgrey;
  color: gray;
}

button.action-button:hover {
  color: #006beb;
  background-color: #e1eaf1;
  border-color: #e1eaf1;
}

button.action-button:focus {
  outline-style: none;
  border-color: #65afde;
  border-style: solid;
  border-width: 0.5px;
}

button.action-button:not(:last-child) {
  margin-right: 5px;
}

button.action-button:not(:first-child) {
  margin-left: 5px;
}

button.action-button i:last-child {
  margin-left: 0px;
}

button.action-button * {
  display: block;
}

button.action-button span:first-child {
  margin-left: 5px;
}

button.action-button i:first-child {
  margin-right: 0px;
}

button.action-button span:last-child {
  margin-right: 5px;
}

button.action-button i {
  vertical-align: top;
  transition-delay: 4ms;
  transition-duration: 500m;
}

button.action-button.pill i {
  padding: 2px;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
}

button.action-button span {
  transition-delay: 4ms;
  transition-duration: 500ms;
  width: 75px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.action-button.xl>span {
  width: 100px;
}

.action-button.xs>span {
  width: 50px;
}

.action-button.xxs>span {
  width: 40px;
}


@media screen and (max-width: 600px) {
  button.action-button span {
    width: 0px;
  }
  button.action-button i:last-child, button.action-button i:first-child, button.action-button span:last-child, button.action-button span:first-child {
    margin: 0px;
  }
  button.action-button.pill i {
    background-color: transparent;
  }
}
