.credit-debit-view-table {
    overflow-y: hidden;
    display: table;
    flex: 1;
    width: 100%;
    position: relative;
}
.credit-debit-header {
    display: table-row;
    background: #add8e6;
    font-weight: bold;
    position: sticky;
}

.credit-debit-view {
    border: #add8e6 solid 2px;
    margin: 2px;
    display: table-row;
}
.credit-debit-view-container {
    position: relative;
}

.credit-debit-view-table>div:last-child {
    display: table-row-group;
}


.credit-debit-cell {
    display: table-cell;
}

.credit-debit-view:nth-child(even) {
    background: #add8e6;
}
.credit-debit-view .amount-to::before {
    content: "-"
}

.credit-debit-view-table .amount-to,
.credit-debit-view-table .amount-from {
    text-align: right;
    padding-right: 20px;
}

.credit-debit-header div {
    display: table-cell;
}

@media screen and (max-width: 600px) {
    .credit-debit-header {
        display: none;
    }
    .credit-debit-cell::before {
        font-weight: bold;
    }
    .credit-debit-view {
        display: block;
        margin: 4px;
        padding: 6px;
        border: 1px solid #0e5882;
        border-radius: 10px;
    }
    .credit-debit-cell {
        display: block;
    }
    .credit-debit-cell.from::before {
        content: "From: ";
    }
    .credit-debit-cell.to::before {
        content: "To: ";
    }
    .credit-debit-view-table .amount-from,
    .credit-debit-view-table .amount-to {
        text-align: initial;
        padding-right: initial;
    }
    .credit-debit-cell.amount-to::before,
    .credit-debit-cell.amount-from::before {
        content: "Amount: "
    }
    .credit-debit-cell.date::before {
        content: "Date: "
    }
    .credit-debit-cell.time::before {
        content: "Time: "
    }
    .credit-debit-cell.description::before {
        content: "Description: "
    }
}