.credit-debit-list-view-with-add {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
}
.credit-debit-list-view-with-add.region {
    margin: 0px;
}

.credit-debit-list-view-with-add>div:last-child {
    flex: 1;
    overflow-y: scroll;
}