.region {
    border: 2px solid #65afde;
    margin: 5px;
}

.region-header {
    background-color: #5aa3d1;
    color: #f5f7fa;
    font-size: 16pt;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.region-content {
    background: #f4f8fc;
    padding: 5px;
}